* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.myprofileimage{
    height: 20rem;
    width: 22rem;
    margin: 2rem;
    border-radius: 100%;
    border: 3px solid darkgrey;
}

.myprofileimage:hover{
    height: 21rem;
    width: 23rem;
    transition: 1s;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.Werkervaring{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.Hobby\'s {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.periode{
    position: relative;
    left: 3rem;
}

article{
    position: relative;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}